<div class="hotel-preview-item">
    <label for="id_{{id}}">Id </label><input id="id_{{id}}" value="{{id}}" disabled />
    <label for="name_{{id}}">Name</label><input id="name_{{id}}" value="{{name}}" disabled />
    <label for="floor_{{id}}">Floors</label><input id="floor_{{id}}" type="number" value="{{floor}}" disabled/>
    <label for="maxPersons_{{id}}">maxPersons</label><input id="maxPersons_{{id}}" type="number" value="{{maxPersons}}" disabled/>
    <form action="/private/hotel/room/delete/{{id}}" class="delete-button" method="post">
        <button type="submit" name="delete" value="delete" class="btn-link delete-button">Delete Room If Possible</button>
    </form>
</div>