.align-self-center {
    margin: auto;
}
.delete-button {
    display: inline-block;
}
#successContainer {
    color: green;
}
#errorContainer {
    color: red;
}
#htmlContent {
    text-align: center;
}